@import "../../sassStyles/mixins";
@import "../../sassStyles/variables";

.landing-wrapper {
  background-color: $color-white;
  padding: $space-500;
  border-radius: $border-radius-lg;
  box-shadow: 0px 32px 64px 0px $alpha-black-5;
  display: flex;
  flex-flow: column wrap;
  gap: $unit-64;
  align-self: stretch;
  margin-top: $space-500;

  @include mdMinBreakPoint {
    flex-flow: row wrap;
    gap: $unit-128;
  }
}
