@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";

.app-container {
  background-color: $color-white;
  border-radius: $border-radius-lg;
  width: 100%;
  padding: $space-600;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 32px 64px 0px $alpha-black-5;

  @include smMinBreakPoint {
    max-width: $container-max-width-sm;
  }

  @include mdMinBreakPoint {
    max-width: $container-max-width-md;
  }
  @include lgMinBreakPoint {
    max-width: $container-max-width-lg;
  }
  @include xlMinBreakPoint {
    max-width: $container-max-width-xl;
  }
  @include xxlMinBreakPoint {
    max-width: $container-max-width-xxl;
  }
}
