@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";

.app-container {
  width: 100%;
  padding: 0 $space-150;
  margin-right: auto;
  margin-left: auto;

  @include smMinBreakPoint {
    max-width: $container-max-width-sm;
  }

  @include mdMinBreakPoint {
    max-width: $container-max-width-md;
  }
  @include lgMinBreakPoint {
    max-width: $container-max-width-lg;
  }
  @include xlMinBreakPoint {
    max-width: $container-max-width-xl;
  }
  @include xxlMinBreakPoint {
    max-width: $container-max-width-xxl;
  }
}
